@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Quicksand:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    .pl-60px {
        padding-left: 60px;
    }
    .px-60px {
        padding-left: 60px;
        padding-right: 60px;
    }
}
