@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Quicksand:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pl-60px {
    padding-left: 60px;
  }
  .px-60px {
    padding-left: 60px;
    padding-right: 60px;
  }
  .pt-12px {
    padding-top: 12px;
  }
  .bg-whitebg {
    --tw-bg-opacity: 1;
    background-color: rgb(250 247 247 / var(--tw-bg-opacity));
  }

  .text-greytext {
    --tw-text-opacity: 1;
    color: rgb(82 82 82 / var(--tw-text-opacity));
  }

  .border-bluebox {
    --tw-border-opacity: 1;
    border-color: rgb(15 82 186 / var(--tw-border-opacity));
  }

  .mt-34px {
    margin-top: 34px;
  }
}
